{
    "extends": "airbnb",
    "env": {
      "browser": true
    },
    "rules": {
      "no-underscore-dangle": [
        "error", 
        { 
          "allow": ["__REDUX_DEVTOOLS_EXTENSION__"]
        }
      ],
      "no-restricted-globals": [
        "history", "location"
      ]
    }
}
